/* Stylesheet for index API (sample-api.yaml) documentation */

body {
  margin: 0;
  padding: 0;
  background-color: #fef8ec;
}

h1 {
  font-size: 2em !important;
  font-weight: 600 !important;
}

.api-info h1 {
  /* this is the title heading, so we're gonna make it pop a little more */
  font-size: 3em !important;
  font-weight: 700 !important;
}

h2 {
  font-size: 2em !important;
  color: #FAA945 !important;
}

h3 {
  font-weight: 900 !important;
  text-transform: uppercase;
  color: #7E5B4E !important;
}

a {
  font-weight: 600;
}

a:hover {
  text-decoration: underline !important;
}

pre {
  background-color: #3F2E27 !important;
  border-radius: 2px !important;
}

pre, 
code {
  text-shadow: none !important;
}

mark {
  background-color: #ffd57b7c;
  padding: 4px;
  font-weight: bold;
  font-style: italic;
  color: #1EA896;
}

li.react-tabs__tab--selected {
  background-color: #fef8ec !important;
}

.react-tabs__tab-panel,
.content-type > div {
  border-radius: 2px;
}

.json-example {
  background-color: #3F2E27;
  border-radius: 2px;
  font-weight: bold;
  color: #f5b83d;
}

.larger {
  font-size: 16px !important;
}

.inline-icon {
  margin-bottom: -4px;
  padding: 0 2px;
}
